.widthhigh{
    width: 600px;
    height: 400px;
    
}
.container{
    @extend .widthhigh;
    margin: 0 auto;
    overflow: hidden;
    
}
.container ul {
    width: 30000px;
}
.container ul li {
    list-style: none;
    @extend .widthhigh;
    display: inline;
    
}